if SHIELD_NICE_VIEW_GEM
    config ZMK_DISPLAY
        default y

    config LV_Z_VDB_CUSTOM
        default y
    
    config LV_VDB_SIZE
        default 64

    # Hier kommt die Rotation rein:
    config LV_Z_ROTATE_180
        default y
endif
