parse_config:
  raw_binding_map:
    # ... (Rest wie gehabt)

    # --- SYSTEM & BT ---
    "&usb_on": {t: "ψ USB", s: "☀ ON"}  
    "&bt_off": {t: "$$mdi:bluetooth-off$$", s: "OFF"}
    "&bt BT_SEL 0": "$$mdi:bluetooth$$ 1"
    "&bt BT_SEL 1": "$$mdi:bluetooth$$ 2"
    "&bt BT_SEL 2": "$$mdi:bluetooth$$ 3"
    "&bt BT_SEL 3": "$$mdi:bluetooth$$ 4"
    "&bt BT_SEL 4": "$$mdi:bluetooth$$ 5"
    "&kp LA(F4)": {t: "✕", s: "Alt F4"}

    # ... (Rest wie gehabt)

draw_config:
  dark_mode: true
  n_columns: 1
  split_gap: 30.0
  draw_key_caps: true
  append_minus_to_shifted_label: false
  key_w: 60.0
  key_h: 56.0
