#include <dt-bindings/zmk/mouse.h>

/ {
    buttons {
        compatible = "gpio-keys";
        mmb_button: mmb_button {
            gpios = <&gpio0 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "Middle Mouse Button";
        };
    };
};

&right_encoder {
    status = "okay";
    a-gpios = <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    b-gpios = <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    steps = <24>; 
};
